body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #0044cc;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.header-img{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hhh{
    height: 80px;
    width: 80px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: black;
    padding: 3px;
    border-radius: 8px;
}

main {
    padding: 20px;
}
ul li{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.section {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.ifra-h1{
    box-shadow: 1px 1px 20px rgb(53, 53, 53);
    padding: 5px;
}
.ifra{
    display: flex;
    gap: 300px;
}
.hotel{
    display: inline;
}
.fa{
    height: 450px;
    width: 700px;
    box-shadow: 1px 1px 20px rgb(110, 109, 109);
}
.far{
    height: 350px;
    width: 700px;
    box-shadow: 1px 1px 20px rgb(110, 109, 109);
}

button {
    background-color: #0044cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002a80;
}

footer {
    background-color: #0044cc;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.fr{
    box-shadow: 1px 1px 20px #002a80;
    height: 250px;
    padding-top: 10px;
    width: 400px;
    text-align: center;
    margin-left: 680px;
   
}
.btn2{
    position: fixed; /* Oynaning o'ng tomonida joylashishi uchun */
    right: 0;
    top: 50%; /* O'rtaga joylashishi uchun */
    transform: translateY(-50%); /* O'rtaga joylashishi uchun */
    display: flex;
    flex-direction: column; /* Qatorma-qator joylashishi uchun */
    gap: 1px; /* Orasidagi masofa */
    box-shadow: 1px 1px 20px rgb(58, 57, 57);
    padding: 5px;
    border-radius: 8px;
    background-color: #002a80;
    color: white;
}